.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "picture login";
    margin-top: 10vh;
}

.signup-button{
    border-radius:50px;
    border: 1px solid white;
    text-align: center;
    width: 100px;
    position: relative;
    left: 45%;
    cursor: pointer;
}

.picture{
    padding-top: 100px;
    padding-bottom: 60px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #0314FE;
    border-radius: 0px 0px 1000px 100px;
    color: white;
}

.picture img{
    max-height: 100%;
    max-width: 100%;
}

.username{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.email{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.password{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon{
    min-width: 50px;
    text-align: center;
}

.input-field{
    width: 100%;
    padding: 10px;
    outline: none;
}

.btn{
    background-color: #0314FE;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    width: 50%;
    transform: translate(50%,0%);    
    opacity: 0.9;
    margin-top: 25px;
}

.btn:hover{
    opacity: 1;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

h5{
    text-align: center;
}

.fa{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #eee;
    color:black;
}