
nav {
    display: flex;
}

nav label {
    flex-basis: 25%;
    text-align: center;
}

nav a {
    flex-basis: 10%; /* 5 anchors * 10 = 75% */
    text-align: center;
}


.grid-container {
    height: 35vh;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat (4, 75px);
    grid-template-rows: repeat (2, 100px);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    justify-content:space-evenly;
    align-content:space-between;
    margin: 100px;
    margin-bottom: 300px;
    
 }

.grid-item {
    border: 3px thin lightgray;
    padding: 5px;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 100px;
    text-align: center;
    background-color: white;
    border:none;
    border-top: 5px rgb(192, 187, 182);
    margin-top: 5px;
    border-top: 2px solid lightgray;
    color:black
    
 
}



.item-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 60px;
    margin-left: auto;
    font-size: 15px;
    width: 75px;
    
    
}

.item-3 {

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 10px;   
    font-size: 15px; 
    border-radius: 20px;
    border: 2px solid lightgray;
    background-color: #0314fe

    
}
.item-4 {

    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 22px;
    margin-bottom: 10px;   
    font-size: 15px; 
    border-radius: 20px;
    border: 2px solid lightgray;
    margin-top: 5px;
  
}

.item-5{

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 10px;   
    font-size: 15px; 
    border-radius: 20px;
    border: 2px solid lightgray;



}
.item-6{

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 10px;   
    font-size: 15px; 
    border-radius: 20px;
    border: 2px solid lightgray

  
}
.middle-item-container-2 {

    height: auto;
    width: 71.6vw;
    margin-left: 200px;
    border: 2px solid lightgray;
    font-size: 10px;
    display: grid;
    grid-template-columns: 400px 700px;
    grid-template-rows: repeat(4, 80px);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    justify-content:center;
    align-content:center;
    margin-top: 80px;
    border-radius: 20px;
    background-color: #0314fe;

}

.middle-item {
       
  }
    
.item-7 {
    
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: white;
    padding-top: 160px;
    padding-left: 170px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    
    
}

.item-8 {

    text-align: center;
    vertical-align: center;
    margin-bottom: 200px;
    margin-left: 20px;
    font-size: 18px;
    padding-bottom: 200px;
    
    color: white;
    
   }

.item-9 {

    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    color: white;
    font-size: 15px;
}

.item-10 {

    text-align: left;
    padding-left: 6px;
    font-size: 12px;
    
    color: white;
}

.item-11 {

    color: white;
    padding-bottom: 65px;
    padding-left:40px;
    width:150px;
    height: 5px;
    border-radius: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 12px;

}

.button-learn-1 {
    border: 1px solid white;
    border-radius: 5px;
    height: 2px;
    font: 10px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 42px;
    margin-right: 11px;
    
    

    
}

.final-item-container-3 {

    font-size: 15px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 80px 90px 75px 80px 80px 70px 40px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    justify-content:center;
    align-content:center;
    margin-top: 100px;
    border-radius: 20px;
}

.final-item {

    
}

.item-12 {

    grid-column-start: 1;
    grid-column-end: 3;
    text-align:center;
    
}

.item-13 {
    align-content:center;
    margin-left: 160px;
}

.item-14 {
    align-content:center;
    margin-left: 160px;
    

}

.item-15 {
    border: 1px solid white;
    border-radius: 5px;
    flex-shrink:inherit;
    font-size: 10px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 11px; 
     
}

.item-16 {
    border: 1px solid white;
    border-radius: 5px;
    flex-shrink:inherit;
    font-size: 10px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 11px; ;
}

.item-17 {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 2px;
    font: 10px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 40px; 
    width: 100px;
    margin-left: 150px;

}

.item-18 {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 2px;
    font: 10px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 40px; 
    width: 100px;
    margin-left: 150px;

    
    
}


.item-19 {

    align-content:center;
    margin-left: 160px;

}

.item-20 {
    align-content:center;
    margin-left: 160px;

}

.item-21 {

    border: 1px solid white;
    border-radius: 5px;
    flex-shrink:inherit;
    font-size: 10px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 11px; 
}

.item-22 {
    border: 1px solid white;
    border-radius: 5px;
    flex-shrink:inherit;
    font-size: 10px;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 11px; 

}

.item-23 {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 2px;
    font: 10px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 40px; 
    width: 100px;
    margin-left: 150px;

}

.item-24 {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 2px;
    font: 10px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 40px; 
    width: 100px;
    margin-left: 150px;

}

footer {
    background-color: #0314fe;

}

.grid-container {
  
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: auto;
    justify-content: space-evenly;
    height: 45vh;
    color: white
}